.ticket{
    width: 100%;
    padding: 3rem 0;
} 
.ticket-contain{
    max-width: 480px;
    padding: 0 1.2rem;
    margin: 0 auto;
}
.form-contain > label{
    font-size: .9rem;
    font-family: var(--font);
    font-weight: bold;
    color: var(--black-color);
}
.form-contain > input{
    display: block;
    width: 100%;
    padding: 1.3rem 0 1.3rem 1rem;
    margin:1rem 0 1.5rem 0;
    font-size: 1rem;
    font-family: var(--font);
    font-weight: bold;
    color: var(--black-color);
    outline: none;
    border: 1px solid #adb5bd;
    border-radius: 5px;
}

.form-contain *::placeholder{
    font-size: .9rem;
    color: #adb5bd;
 }

.form-contain > input:focus{
    outline: 2px solid #4cc9f0;
}
.btn-add{
    max-width: 150px;
    font-size: 1rem;
    padding: 1rem 0;
    margin: 0 auto;
}
.ticket-subtitle{
	margin: 1.7rem 0;
    font-size: var(--step-4);
	font-weight: 700;
    text-align: center;
	letter-spacing: 1.8px;
	color: var(--section-title);
}
.order-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.btn-yourOrder{
    display: block;
    width: 150px;
    padding: 1rem 0;
    font-size: .9rem;
    text-decoration: none;
    text-align: center;
    color: var(--white-color);
    background-color: #2c8efd;
    border: none;
    border-radius: .3rem;
    outline: none;
    cursor: pointer;
    transition:  opacity .3s ease;
}
/* .btn-search{
    width: 120px;
    padding: 1rem 0;
    font-size: 1rem;
    color: var(--white-color);
   
    border: 0;
    border-radius: .3rem;
    outline: none;
    cursor: pointer;
    transition: opacity .3s ease;
} */
.btn-search:hover{
    opacity: .75;
}
.btn-yourOrder:hover{
    opacity: .80;
}


@media screen and (min-width: 64rem) {
    .ticket{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .ticket-contain{
        width: 480px;
        padding: 2rem 2.7rem 1rem;
        margin: 0 auto;
        border-radius: 1.6rem;
        /* background-color: #fffffd; */
        background: #ffffff;
        box-shadow:  20px 20px 60px #d9d9d9,
                    -20px -20px 60px #ffffff;
    }
    .order-flex{
       gap:  2rem 3rem;
    }
}











/*:::Ventana Modal:::*/
#btn-modal{
    display: none;
}
.container-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(144, 148, 150, 0.8);
    z-index: 1000;
}
#btn-modal:checked ~ .container-modal{
    display: flex;
}

.content-modal{
    width: 90%;
    max-width: 1200px;
    /* height: 500px; */
    padding: 1.8rem 1rem 1rem 1rem;
    background-color: var(--white-color);
    border-radius: 4px;
}
.modal-header{
    border-bottom: 3px solid #adb5bd;
}
.modal-title{
    padding-bottom: .6rem;
    font-size: var(--step-4);
    font-weight: 700;
    letter-spacing: 1.8px;
    color: var(--section-title);
}

.modal-name{
    padding: .4rem 0;
    font-weight: 300;
}
.modal-body small{
    font-size: 1rem;
    color: var(--black-color);
    font-weight: bold;
}
.modal-totalPrice{
    display: flex;
    justify-content: flex-end;
    gap: 0 1.3rem;
    padding: 0 1rem;
    margin: 1rem 0;
}
.modal-total{
    font-size: 1.1rem;
    font-weight: bold;
}

.modal-price{
    font-size: 1.2rem;
    font-weight: bold;
    color: #981352;
}
/*MODAL-----------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/


.modal-order{
    width: 100%;
    height: 180px;
    margin-top: 1rem;
    /* background-color: rgb(224, 136, 136); */
    overflow: scroll;
}
.modal-order::-webkit-scrollbar{
    width: 8px;
    height: 7px;
    background-color: var(--white-color);
    border-radius: 20px;
}
.modal-order::-webkit-scrollbar-thumb{
    background-color: var(--button-nav-color);
}
/*TEXTAREA*/
.modal-tbody-tr .modal-tbody-td textarea{
    display: block;
    height: 130px;
    width: 100%;
    padding-bottom: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    font-family: var(--font);
    text-align: justify;
    line-height: 2;
    background-color: inherit;
    resize: none;
    border: 0;
    outline: none;
}

.modal-body textarea::-webkit-scrollbar{
    width: 7px;
    background-color: #dee2e6;
    border-radius: 20px;
}
.modal-body textarea::-webkit-scrollbar-thumb{
    background-color: var(--button-nav-color);
}

.modal-table tbody{
    width: inherit;
}
.modal-table tr{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 3px solid #e9ecef;
}

.modal-table td[data-titulo]{
    display: flex;
}
.modal-table td,
.modal-table th{
    border: 0;
}
.modal-table td[data-titulo]::before{
    content: attr(data-titulo);
    width: 100px;
    height: 50px;
    padding-right: .7rem;
    font-weight: 600;
    color: var(--button-nav-color);
}

.modal-table thead{
    display: none;
}
.td-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

@media screen and (min-width:48rem){
    .content-modal{
        padding: 1.8rem 2rem;
    }
    
    .modal-order{
        height: 210px;
    }

}
/* 1250px */
@media screen and (min-width:78.125rem){
   .modal-description-flex{
        display: flex;
    }
    .modal-name{
        margin-right: 1rem;
    }
    .modal-order{
        height: 245px;
    }
    .modal-table thead{
        display: table-header-group;
    }

    .modal-table tr{
        display: table-row;
        flex-direction: row;
        padding: 0;
        margin-bottom: 0;
        border: 0;
    }
    .modal-table td[data-titulo]{
        display: table-cell;
    }
    .modal-table td,
    .modal-table th{
        border: 0;
    }
    .modal-table td[data-titulo]::before{
        display: none;
    }
    
    /*---------------------------------------------*/
   
    .modal-table{
        width: 100%;
        margin: 0 0 1.5rem;
        border: 2px solid #e9ecef;
        border: 0;
        border-radius: 1rem;
        /* box-shadow: 18px 23px 19px -3px rgba(0,0,0,0.1); */
    }
    .modal-table .modal-thead-tr th{
        padding: 2rem;
        border-bottom: 1px solid #e9ecef;
    }

    .modal-table .modal-tbody-tr .modal-tbody-td{
        text-align: center;
        border-bottom: 1px solid #e9ecef;
    }

    .modal-table .modal-tbody-tr .modal-tbody-td:nth-child(1){
        font-size: 1.2rem;
        font-weight: bold;
    }
    .modal-tbody-tr .modal-tbody-td textarea{
        height: 100%;
        width: 300px;
        padding-left: 1rem;
        background-color: inherit;
    }
    .modal-table .modal-tbody-tr:nth-child(odd){
        background-color: #f8f9fa;
    }
    /* .modal-table .modal-tbody-tr:hover{
        background-color: #eef0f1;
    } */
    
    .table{
        border-spacing: 2px 0;
        border-spacing: 0;
    }
}

/* .content-modal h2{
    margin-bottom: 15px;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
} */
.modal-footer{
    border-top: 3px solid #adb5bd;
}
.btn-print{
    width: 130px;
    padding: .8rem 0;
    font-size: 1rem;
    color: var(--white-color);
    background-color: var(--button-add-color);	
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: opacity .3s ease;
}
.btn-print:hover{
    opacity: .85;
}
.content-modal .btn-cerrar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: .8rem;
}
.content-modal .btn-cerrar label{
    width: 100px;
    padding: .7rem 0;
    font-size: .9rem;
    text-align: center;
    color: var(--white-color);
    background-color: var(--button-seeMore-color);
    border-radius: 4px;
    cursor: pointer;
    transition: opacity .3s ease;
}
.content-modal .btn-cerrar label:hover{
    opacity: .85;
}
.cerrar-modal{
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    width:100%;
    height: 100vh;
}
.fixed-width {
    width: 100%;
  }

/*:::Fin Ventana Modal:::*/

/* @media print {
    @page {
        size: A4;
    }
    .modal-table{
        max-width: 1300px;
        width: 100%;
        font-size: 5pt;
        font-family: serif;
        background-color: #000;
        color: #fff;
    }
} */