
<section class="ticket container">
  <!-- REGISTRO DEL PEDIDO DEL CLIENTE -->
  <div class="ticket-contain">
    <form [formGroup]="pedido">

      <div class="form-contain">
        <label for="dni">DNI</label>
        <input type="text" class="" formControlName="dni" id="dni" placeholder="Ingrese su DNI*">
      </div>

      <div class="form-contain">
        <label for="pass">Direcci&oacute;n</label>
        <input type="text" class="" formControlName="Direccion" id="direccion" placeholder="Ingresa tu Direccion*">
      </div>
      
      <button type="submit" class="btn-add" (click)="agregar()">Enviar</button>
      
    </form>
  </div>


  <!-- Para ver los pedidos y dar click al pedido---------- -->
  <h2 class="ticket-subtitle">Tus Pedidos</h2>
  <div class="order-flex">
    <label for="btn-modal" *ngFor="let xy of fech let j=index" type="button" (click)="mostrarCarrito(xy)" class="btn-yourOrder">
      Mostrar Pedido {{j+1}}
    </label>
  </div>

</section>



<!--Ventana Modal-->
<input type="checkbox" id="btn-modal">

<div class="container-modal">
  <div class="content-modal">
    <div class="modal-header">
      <h2 class="modal-title">Mostrar Pedido</h2>
    </div>
    
    <div class="modal-body">
      <div class="modal-descriptions" id="datos">
          <div class="modal-description">
            <h4 class="modal-name">
              <small>Nombres y Apellidos : </small>{{nombres}} {{apellidos}}
            </h4>
          </div>
          <div class="modal-description-flex">

            <div class="modal-description" *ngFor="let c of pedidos let y=index">
              <h4 class="modal-name" *ngIf="c.fecha.toDate().toLocaleTimeString() ==idp">
                <small>Dni / Ruc :</small> {{c.DNI}}
              </h4>
            </div>
  
            <div class="modal-description" *ngFor="let r of pedidos let y=index">
              <h4 class="modal-name" *ngIf="r.fecha.toDate().toLocaleTimeString() ==idp">
                <small>Direccion : </small>{{r.Direccion}}
              </h4>
            </div>
  
            <div class="modal-description" *ngFor="let f of pedidos let y=index">
              <h4 class="modal-name" *ngIf="f.fecha.toDate().toLocaleTimeString() ==idp">
                <small>Fecha : </small>{{f.fecha.toDate()| date:'dd/MM/yyyy'}}
              </h4>
          </div>
          </div>
      </div>   

      <ng-template #other>
        <p>No Tiene pedidos</p>
      </ng-template>
              
      
      <div class="modal-order" >
        <div *ngFor="let xy of pedidos let y=index" >
          <div class="" *ngIf="xy.fecha.toDate().toLocaleTimeString()== idp" >
            <table class="modal-table fixed-width" id="tabla">
              <thead>
                <tr class="modal-thead-tr">
                  <th><i class="bi bi-hash"></i></th>
                  <th>Nombre</th>
                  <th>Marca</th>
                  <th>Descripcion</th>
                  <th class ="no-pdf">Imagen</th>
                  <th>Cantidad</th>
                  <th>Costo</th>
                  <th>Sub Total</th>
                </tr>
              </thead>
              <tbody>
                <tr class="modal-tbody-tr" *ngFor="let p of xy.carrito let i=index">
                  <td class="modal-tbody-td" data-titulo="#">{{i+1}}</td>
                  <td class="modal-tbody-td" data-titulo="Nombre">{{p.Nombre}}</td>
                  <td class="modal-tbody-td" data-titulo="Marca">{{p.Marca}}</td>
                  <td class="modal-tbody-td" data-titulo="Descripcion">
                    {{p.Descripcion}}
                  </td>
                  <td class ="no-pdf" style="text-align: center;">
                    <img src="{{p.Imagen}}" alt="" width="50" height="50" class ="no-pdf">
                  </td>
                  <td class="modal-tbody-td" data-titulo="Cantidad">{{p.Cantidad}}</td>
                  <td class="modal-tbody-td" data-titulo="Costo">{{p.Costo}}</td>
                  <td class="modal-tbody-td" data-titulo="Total">{{p.Costo * p.Cantidad}}</td>
                </tr>
                <tr class="text-center">
                  <td colspan="6" class="modal-price">Total:</td>
                  <td class="modal-total">{{xy.total}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <div class="modal-footer" class="no-pdf">
      <p>Es una previsualizacion, por favor para ver completo su boleta imprimir</p>
      <button type="button" (click)="imprimir()" class="btn-print">Imprimir</button>

      <div class="btn-cerrar">
        <label for="btn-modal" class="">Cerrar</label>
      </div>
    </div>

      
  </div>
  <label for="btn-modal" class="cerrar-modal"></label>
</div>
<!--Fin de Ventana Modal-->
