<div>

  <!-- REGISTRO DEL PEDIDO DEL CLIENTE -->
  <form [formGroup]="pedido">
    <div class="form mb-4">
      <div class="form__input">
        <label for="dni">DNI</label>
        <input type="text" class="form-control" formControlName="dni" id="dni" placeholder="Ingrese sus nombres">
      </div>

      <div class="form__input">
        <label for="pass">Direcci&oacute;n</label>
        <input type="text" class="form-control" formControlName="Direccion" id="direccion"
          placeholder="Ingresa tu contraseña">
      </div>
    </div>
  </form>

  <button type="submit" (click)="agregar()">ENVIAR</button>
  <!-- Button trigger modal -->
  <button *ngFor="let xy of cliente let j=index" type="button" (click)="mostrarCarrito(xy.id)" class="btn btn-primary"
    data-bs-toggle="modal" data-bs-target="#exampleModal">
    Mostrar Pedido {{j+1}}
  </button>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Mostrar Pedido</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="" id="tabla">
          <div>
            <p style="color:red" class="">Nombres y Apellidos: {{nombres}}{{apellidos}}</p>
          </div>
          <div *ngFor="let xy of pedidos let y=index">
            <div class="" *ngIf="xy.id ==idp ">
              <table>
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th>Costo</th>
                    <th>Imagen</th>
                    <th>Sub Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of xy.carrito let i=index">
                    <td>{{i+1}}</td>
                    <td>{{p.Nombre}}</td>
                    <td>{{p.Marca}}</td>
                    <td>{{p.Descripcion}}</td>
                    <td>{{p.Costo}}</td>
                    <td>{{p.Cantidad}}</td>
                    <td><img src="{{p.Imagen}}" alt="" width="50"></td>
                    <td>{{p.Costo * p.Cantidad}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <table>
            <tr>
              <td>Total:{{suma}}</td>
            </tr>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <p>Es una previsualizacion, por favor para ver completo su boleta imprimir</p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="imprimir()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>