<div class="contenedor__login">
    <div class="login">
        <div class="login__img">
            <img src="../../../assets/IMG/adidas.png" alt="Logo" class="img">
        </div>
        <form [formGroup]="register">
            <div class="form mb-4">
                <div class="form__input">
                    <label for="nombres">Nombres</label>
                    <input type="text" class="form-control" formControlName="Nombres" id="nombres" placeholder="Ingrese sus nombres">
                </div>
                <div class="form__input">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" class="form-control" formControlName="Apellidos" id="apellidos" placeholder="Ingrese sus apellidos">
                </div>
                <div class="form__input">
                    <label for="celular">Celular</label>
                    <input type="text" class="form-control" formControlName="Celular" id="celular" placeholder="999-999-999">
                </div>
                <div class="form__input">
                    <label for="email">Correo Eletrónico</label>
                    <input type="email" class="form-control" formControlName="Correo" id="email" placeholder="tucorreo@gmail.com">
                </div>
        
                <div class="form__input">
                    <label for="pass">Contraseña</label>
                    <input type="password" class="form-control" formControlName="Contrasena" id="pass" placeholder="Ingresa tu contraseña">
                </div>
        
                <div class="form__input">
                    <label for="pass2">Confirmar Contraseña</label>
                    <input type="password" class="form-control" formControlName="Contrasena2" id="pass2" placeholder="Ingresa tu contraseña">
                </div>
                <div class="form__input">
                    <input type="number" value=1 class="form-control" formControlName="Rol" id="Rol" placeholder="Rol Usuario">
                </div>
                <!-- <select  name="Rol" formControlName="Rol" id="Rol" class="mb-5 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 outline-0">
                    
                    <option selected disabled>Selecciona un rol</option>
                    <option value="1">Usuario</option>
                    <option value="0">Administrador</option>
                    
                </select>
         -->
            </div>
        </form>
        <div class="mb-3">
            <button class="btn__signIn" (click)="agregar()">Registrarse</button>
        </div>
    </div>
</div>
