.contenedor__login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 600px;
    background-color: #fffffd;
    padding: 2rem;
    border-radius: 1.6rem;
}
.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.4rem;
}
.form__input{
    flex-grow: 1;
    
}
.login__img{
    text-align: center;
}
.img{
    /* object-fit: cover; */
    height: 50px;
    width: 50px;
    /* border-radius: 50%; */
    margin-bottom: 2rem;
}
label{
    color: #838fa3;
    font-size: .9rem;
    margin-bottom: .7rem;
}
input{
    font-size: .9rem;
}
.btn__signIn{
    outline: none;
    border: none;
    display: block;
    width: 100%;
    padding: .9rem 0;
    background-color: #1b2f9b;
    color: #fff;
    font-size: .9rem;
    font-weight: 700;
    border-radius: 7px;
    box-shadow: 0 0 3px 0 #1b2f9b;
}
.btn__signIn:hover{
    transition: .3s;
    background-color: #3247c2;
}
.link{
    text-decoration: none;
    color: #838fa3;
    font-size: .92rem;
}
.link:hover{
    color: #444a53;
}
/*RESPONSIVE TABLET*/
@media screen and (min-width: 768px) {
    .contenedor__login{
        height: 600px;
        background-color: #f8f9fa;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login{
        width: 660px;
        background-color: #fffffd;
        padding: 2rem;
        border-radius: 1.6rem;
        box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
    }
    .form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.4rem;
    }
  }