
/*Imagen*/
.medium{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../../../assets/IMG/medium.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.medium-title{
    color: var(--white-color);
    font-size: var(--step-5);
    text-align: center;
}
.medium-subtitle{
    font-size: var(--step-2);
    color: #cb3248;
    text-align: center;
}
/*Centro de Soporte*/

.supportCenter-contain{
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.supportCenter-icons{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3e1151;
    background-color: #efefef;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    transition: background-color .3s ease, color .3s ease;
}
.supportCenter-icons:hover{
    background-color: #3e1151;
    color: #fff;
}
.bi{
    font-size: 3.6rem;
}

.subtitle{
    width: 70%;
    text-align: center;
    font-size: 1rem;
    margin-top: .7rem;
}
/*Contacto*/

.sneaker-contact{
    text-align: center;
    font-size: var(--step-3);
    font-weight: 700;
    margin: 2rem 0;
    color: var(--section-title);
}

.sneaker-subtitle{
    text-align: center;
    font-size: var(--step-3);
    font-weight: 700;
    margin: 2rem 0;
    color: var(--section-title);
}

/*Contenedor iconos*/
.contact-contain{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.icons-title{
    margin: .7rem 0;
    color: var(--button-nav-color);
}
.icons-subtitle,
.icons-number, 
.icons-email{
    line-height: 1.3;
}
.icons-email, 
.icons-number{
    font-weight: 700;
    font-size: 1.1rem;
}

@media (min-width: 48rem) {
    
    /*Contacto*/
    .contact-contain{
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        text-align: center;
    }
    .contact-icons{
        flex-basis: 25%;
    }
  }

  @media (min-width: 64rem) {
    /*Imagen*/
    
    .supportCenter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-container{
        width: 1200px;
    }
    .contact{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .contact-contain{
        margin-top: 4rem;
        justify-content: space-between;
    }
    .contact-icons{
        flex-basis: 20%;
    }
   
  }



  