<section class="medium section">
    <h2 class="medium-title">!Estamos aqui para ti!</h2>
    <h3 class="medium-subtitle">¿Cómo podemos ayudarte?</h3>
</section>

<section class="supportCenter container full-lg-screen section">
    <h2 class="sneaker-title">Centro de soporte</h2>
    <div class="supportCenter-contain">
        <div class="supportCenter-icons" routerLinkActive="active" routerLink="/politica">
            <i class="bi bi-journal-text"></i>
            <h3 class="subtitle">Términos y Condiciones</h3>
        </div>

        <div class="supportCenter-icons" routerLinkActive="active" routerLink="/preguntas">
            <i class="bi bi-question-circle"></i>
            <h3 class="subtitle">Preguntas Frecuentes</h3>
        </div>

        <div class="supportCenter-icons" routerLinkActive="active" routerLink="/cambios">
            <i class="bi bi-arrow-clockwise"></i>
            <h3 class="subtitle">Cambios y Devoluciones</h3>
        </div>

        <div class="supportCenter-icons" routerLinkActive="active" routerLink="/preguntas">
            <i class="bi bi-cart-x"></i>
            <h3 class="subtitle">Como comprar</h3>
        </div>

        <!-- <div class="supportCenter-icons">
            <i class="bi bi-shop"></i>
            <h3 class="subtitle">Nuestra Tiendas</h3>
        </div>

        <div class="supportCenter-icons">
            <i class="bi bi-shop-window"></i>
            <h3 class="subtitle">Retiro en Tienda</h3>
        </div> -->

        <!-- <div class="supportCenter-icons">
            <i class="bi bi-box"></i>
            <h3 class="subtitle">Seguimiento Pedido Usuario</h3>
        </div> -->

        <div class="supportCenter-icons" routerLinkActive="active" routerLink="/carrito">
            <i class="bi bi-file-earmark-spreadsheet"></i>
            <h3 class="subtitle">Revisa tu Boleta</h3>
        </div>

        <!-- <div class="supportCenter-icons">
            <i class="bi bi-file-spreadsheet"></i>
            <h3 class="subtitle">Legales por Campaña</h3>
        </div> -->

        <!-- <div class="supportCenter-icons">
            <i class="bi bi-shield-check"></i>
            <h3 class="subtitle">Recupera tu contraseña</h3>
        </div> -->
    </div>
</section>

<section class="contact section full-lg-screen">
    <div class="contact-container">
        <h2 class="sneaker-contact">¿Aún tienes dudas?</h2>
        <h3 class="sneaker-subtitle">¡No dudes en contactarnos!</h3>
        <div class="contact-contain">
    
            <div class="contact-icons">
                <i class="bi bi-telephone-fill"></i>
                <h4 class="icons-title">Call Center</h4>
                <p class="icons-subtitle">Cliente atthes:</p> 
                <p class="icons-number">01 7482402</p>
                <p class="icons-subtitle">Promotor atthes:</p> 
                <p class="icons-number">01 4283038</p>
            </div>
    
            <div class="contact-icons">
                <i class="bi bi-envelope-fill"></i>
                <h4 class="icons-title">Correo</h4>
                <p class="icons-subtitle">Cliente atthes:</p> 
                <p class="icons-email">atencionalcliente@atthes.pe</p>
                <p class="icons-subtitle">Promotor atthes:</p> 
                <p class="icons-email">atencionalpromotor@atthes.pe</p>
            </div>
    
            <div class="contact-icons">
                <i class="bi bi-whatsapp"></i>
                <h4 class="icons-title">Whatsapp</h4>
                <p class="icons-number">936121553</p>
            </div>
    
            <div class="contact-icons">
                <i class="bi bi-messenger"></i>
                <h4 class="icons-title">Messenger</h4>
                <p class="icons-subtitle">Cliente atthes:</p> 
                <p class="icons-email">atthes Perú</p>
                <p class="icons-subtitle">Promotor atthes:</p> 
                <p class="icons-email">Catálogo atthes</p>
            </div>
        </div>
    </div>
</section>
