<section class="medium">
    <h2 class="medium__title">!Estamos aqui para ti!</h2>
    <h3 class="medium__subtitle">¿Cómo podemos ayudarte?</h3>
</section>

<section class="supportCenter">
    <h2 class="supportCenter__title">Centro de soporte</h2>
    <div class="supportCenter__container">
        <div class="supportCenter__icons">
            <i class="bi bi-journal-text"></i>
            <h3 class="subtitle">Términos y Condiciones</h3>
        </div>

        <div class="supportCenter__icons">
            <i class="bi bi-question-circle"></i>
            <h3 class="subtitle">Preguntas Frecuentes</h3>
        </div>

        <div class="supportCenter__icons">
            <i class="bi bi-arrow-clockwise"></i>
            <h3 class="subtitle">Cambios y Devoluciones</h3>
        </div>

        <div class="supportCenter__icons">
            <i class="bi bi-cart-x"></i>
            <h3 class="subtitle">Como comprar</h3>
        </div>

        <div class="supportCenter__icons">
            <i class="bi bi-shop"></i>
            <h3 class="subtitle">Nuestra Tiendas</h3>
        </div>

        <div class="supportCenter__icons">
            <i class="bi bi-shop-window"></i>
            <h3 class="subtitle">Retiro en Tienda</h3>
        </div>

        <div class="supportCenter__icons">
            <i class="bi bi-box"></i>
            <h3 class="subtitle">Seguimiento Pedido Usuario</h3>
        </div>

        <div class="supportCenter__icons">
            <i class="bi bi-file-earmark-spreadsheet"></i>
            <h3 class="subtitle">Revisa tu Boleta</h3>
        </div>

        <div class="supportCenter__icons">
            <i class="bi bi-file-spreadsheet"></i>
            <h3 class="subtitle">Legales por Campaña</h3>
        </div>

        <div class="supportCenter__icons">
            <i class="bi bi-shield-check"></i>
            <h3 class="subtitle">Recupera tu contraseña</h3>
        </div>
    </div>
</section>

<section class="contact">
    <h2 class="contact__title">¿Aún tienes dudas?</h2>
    <h3 class="contact__subtitle">¡No dudes en contactarnos!</h3>
    <div class="contact__container">

        <div class="contact__icons">
            <i class="bi bi-telephone-fill"></i>
            <h4 class="icons__title">Call Center</h4>
            <p class="icons__subtitle">Cliente Footloose:</p> 
            <p class="icons__number">01 7482402</p>
            <p class="icons__subtitle">Promotor Footloose:</p> 
            <p class="icons__number">01 4283038</p>
        </div>

        <div class="contact__icons">
            <i class="bi bi-envelope-fill"></i>
            <h4 class="icons__title">Correo</h4>
            <p class="icons__subtitle">Cliente Footloose:</p> 
            <p class="icons__email">atencionalcliente@footloose.pe</p>
            <p class="icons__subtitle">Promotor Footloose:</p> 
            <p class="icons__email">atencionalpromotor@footloose.pe</p>
        </div>

        <div class="contact__icons">
            <i class="bi bi-whatsapp"></i>
            <h4 class="icons__title">Whatsapp</h4>
            <p class="icons__number">936121553</p>
        </div>

        <div class="contact__icons">
            <i class="bi bi-messenger"></i>
            <h4 class="icons__title">Messenger</h4>
            <p class="icons__subtitle">Cliente Footloose:</p> 
            <p class="icons__email">Footloose Perú</p>
            <p class="icons__subtitle">Promotor Footloose:</p> 
            <p class="icons__email">Catálogo Footloose</p>
        </div>
    </div>
    


</section>
