<section class="supportCenter">
    <h2 class="supportCenter__title"> CAMBIOS Y DEVOLUCIONES</h2>
</section>
<section class="contain__accordion">
    <details>
        <summary>Cambios y devoluciones para compras Online en Atthes</summary> 
    
    <div class="supportCenter__contenedor">
        <div class="icon">
            
            <p><i class="bi bi-check-circle-fill"></i> Para las compras realizadas en www.atthes.pe, www.cierrapuertas.pe se podrán realizar cambios/devoluciones durante los primeros sesenta (60) días calendario después de la recepción del producto.</p> 
        </div>
        <div class="icon">
            
            <p> <i class="bi bi-check-circle-fill"></i> Para hacer efectivo el derecho al cambio/devolución, ES INDISPENSABLE que: Los productos
            se encuentren en buen estado sin uso con su empaque original, con un comprobante
            de pago (boleta o factura).</p> 
        </div>
        <div class="icon">
            
            <p><i class="bi bi-check-circle-fill"></i> Para evaluar un cambio/devolución deberá dirigirse personalmente
            a la tienda Atthes o de forma online deberá llamar al centro de atención al cliente para coordinar el cambio/devolución a domicilio con el coste de envio correspondiente</p> 
        </div>
        <div class="icon">
            
            <p><i class="bi bi-check-circle-fill"></i> Los cambios del producto estarán sujetos al stock existente. En caso no exista stock del producto, EL CLIENTE podrá escoger otro producto de igual valor, en tal caso que EL CLIENTE elija el cambio de producto por uno de mayor valor deberá asumir la diferencia, en caso opte por uno de menor valor no habrá devolución o saldo a favor.</p> 
        </div>
        <div class="icon">
            
            <p><i class="bi bi-check-circle-fill"></i> En caso desee realizar un cambio de producto, adquirido con una promoción condicionada o descuento, quedará anulada la promoción y el cliente asumirá el precio vigente.
            </p> 
        </div>
        <div class="icon">
            
            <p><i class="bi bi-check-circle-fill"></i> Si el pedido por compra online ha salido de nuestros almacenes y se encuentra en camino debe llegar primero a su destino para solicitar el cambio/ reembolso.
            </p> 
        </div>
        <div class="icon">
            
            <p><i class="bi bi-check-circle-fill"></i> Si el cliente realiza una compra a través de nuestra tienda online www.atthes.pe,no pudo ser atendida por disponibilidad de stock, el plazo para atender el rembolso es de 15 días calendario
            </p> 
        </div>
        <div class="icon">
            
            <p><i class="bi bi-check-circle-fill"></i> Si el cliente realiza una compra a través de nuestra tienda online www.atthes.pe con modalidad recojo en tienda, debe asegurarse de revisar bien el producto antes de retirarse de tienda y reportar en ese momento si no está conforme con su pedido. Caso contrario se asumirá la conformidad del pedido, el cual no podrá ser objeto de reclamo.
            </p> 
        </div>
    </div>
        
    </details>

<section class="contain__accordion">
    <details>
        <summary>Como realizo un cambio</summary>
            <div class="icon">
                
                <p><i class="bi bi-check-circle-fill"></i> El cliente puede acercarse a la tienda fisica o solicitar el cambio mediante nuestro 
                n&uacute;mero tel&eacute;fonico de atención al cliente en el plazo establecido.
                </p> 
            </div>
            <div class="icon">
                
                <p><i class="bi bi-check-circle-fill"></i> El cliente podrá comunicarse al correo atencionalcliente@atthes.pe o llamando al (01) 748-2402 dentro del plazo establecido. Mediante esta comunicación deberá indicar sus nombres, apellidos, número de pedido y fecha en que realizó la compra y el motivo del cambio.
                </p> 
            </div>
            <div class="icon">
                
                <p><i class="bi bi-check-circle-fill"></i> Recordar que para un cambio de producto se debe cumplir con la politica antes establecida en sin estado de uso y en su empaque original.
                </p> 
            </div>
            <div class="icon">
                
                <p><i class="bi bi-check-circle-fill"></i> En los casos donde la solicitud de cambio es por talla, el cliente deberá acercarse a una Tienda Atthes. 
                </p> 
            </div>
            <div class="icon">
                
                <p><i class="bi bi-check-circle-fill"></i> Si la solicitud de cambio es por falla de producción o producto equivocado, el cliente deberá acercarse a una tienda física con el producto, el comprobante de pago y su DNI. Esto no implica que la solicitud sea aceptada.
                </p> 
            </div>
            <div class="icon">
                
                <p><i class="bi bi-check-circle-fill"></i> Si la solicitud de cambio es por falla de producción o recepción de producto equivocado, y no exista una tienda física en su ciudad, el cliente deberá coordinar con el área de Atención al Cliente para programar una logística inversa; es decir, el courier a cargo recogerá el producto en la dirección donde se entregó originalmente, haciendo un máximo de hasta (02) dos visitas. El producto deberá contar con todo lo establecido, sellado y embalado. En caso el cliente no cumpla con la devolución en estas visitas y los requisitos expuestos, Footloose dará por rechazada la solicitud de cambio. Este recojo no implica que la solicitud haya sido aceptada.
                </p> 
            </div>
    </details>

    <details>
        <summary>Como solicito reembolso</summary>
            <div class="icon">
                
                <p><i class="bi bi-check-circle-fill"></i> El cliente puede acercarse a la tienda fisica o solicitar el cambio mediante nuestro 
                n&uacute;mero tel&eacute;fonico de atención al cliente en el plazo establecido.
                </p> 
            </div>
            <div class="icon">
                
                <p><i class="bi bi-check-circle-fill"></i> El cliente podrá comunicarse al correo atencionalcliente@atthes.pe o llamando al (01) 748-2402 dentro del plazo establecido. Mediante esta comunicación deberá indicar sus nombres, apellidos, número de pedido y fecha en que realizó la compra y el motivo del cambio.
                </p> 
            </div>
            <div class="icon">
                
                <p><i class="bi bi-check-circle-fill"></i> Recordar que para un cambio de producto se debe cumplir con la politica antes establecida en sin estado de uso y en su empaque original.
                </p> 
            </div>
            <div class="icon">
                
                <p><i class="bi bi-check-circle-fill"></i> En los casos donde la solicitud de cambio es por talla, el cliente deberá acercarse a una Tienda Atthes. 
                </p> 
            </div>
            <div class="icon">
                
                <p><i class="bi bi-check-circle-fill"></i> Si la solicitud de cambio es por falla de producción o producto equivocado, el cliente deberá acercarse a una tienda física con el producto, el comprobante de pago y su DNI. Esto no implica que la solicitud sea aceptada.
                </p> 
            </div>
            <div class="icon">
                
                <p><i class="bi bi-check-circle-fill"></i> Si la solicitud de cambio es por falla de producción o recepción de producto equivocado, y no exista una tienda física en su ciudad, el cliente deberá coordinar con el área de Atención al Cliente para programar una logística inversa; es decir, el courier a cargo recogerá el producto en la dirección donde se entregó originalmente, haciendo un máximo de hasta (02) dos visitas. El producto deberá contar con todo lo establecido, sellado y embalado. En caso el cliente no cumpla con la devolución en estas visitas y los requisitos expuestos, Footloose dará por rechazada la solicitud de cambio. Este recojo no implica que la solicitud haya sido aceptada.
                </p> 
            </div>
    </details>
</section>

