<footer class="footer">
    <h1 class="footer-title">new athes</h1>
    <div class="footer-contain container">

        <div class="footer-box">
            <h3 class="footer-subtitle">WEBSITE LINKS</h3> 
            <ul class="footer-links">
                <li><a class="link" routerLink="/soporte">Atención al cliente</a></li>
                <li><a class="link" routerLink="/preguntas">Preguntas frecuentes</a></li>
                <li><a class="link" routerLink="/cambios">Cambios y devoluciones</a></li>
                <li><a class="link" routerLink="/preguntas">Formas de pago</a></li>
                <li><a class="link" routerLink="/politica">Politicas de Privacidad</a></li>
                

            </ul>
        </div>
        
        <div class="footer-box contain-follow">
            <h3 class="footer-subtitle">SIGUENOS</h3>
            <div class="card-media">
                <a href="" class="card-icon icon-facebook"><i class="bi bi-facebook"></i></a>
                <a href="" class="card-icon icon-twiter"><i class="bi bi-twitter"></i></a>
                <a href="" class="card-icon icon-instagram"><i class="bi bi-instagram"></i></a>
                <a href="" class="card-icon icon-youtube"><i class="bi bi-youtube"></i></a>
                
             </div>
        </div>

        <div class="footer-box contain-service">
            <h3 class="footer-subtitle">SERVICIO AL CLIENTE</h3>
            <div class="footer-text">
                <p class="parrafo">Para m&aacute;s informaci&oacute;n sobre nuestros productos
                llama de lunes a viernes de 8:00am a 10:pm Av. Peru 122
                28021, Lima al (+51) 914-123-456 </p>
                <p class="correo">info@misitio.com</p>
                
            </div>
        </div>
    </div>
    <p class="copy">©2022-2023 atthes / Grecia Lira & Oscar Velásquez </p>
</footer>