.footer{
    height: 55rem;
    background-image: url("../../../assets/IMG/piepagina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: .1px;
}
.footer-title{
    font-family: var(--font);
    font-weight: 700;
    font-size: 12.4vw;
    color: var(--white-color);
    text-align: center;
    text-decoration: line-through;
    margin: 2.6rem 0;
}

.footer-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.6rem 0;
}

.footer-subtitle{
    font-size: 2rem;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 1rem;
    text-align: center;
}
.footer-links{
    padding-left: 0;
    text-align: center;
}
.link{
    display: inline-block;
    color: var(--footer-link-color);
    text-decoration: none;
    padding: .4rem 0;
    transition: color .3s ease;
}
.link:hover{
    color: var(--white-color);
}
.contain-follow{
    font-size: 2rem;
}
.card-media{
    display: flex;
    justify-content: space-between;
    gap: 0 2rem;
}
.card-icon{
    padding: 0 .5rem;
    transition: transform .3s ease;
}
.card-icon:hover{
    transform: scale(1.17); 
}
.icon-facebook{
    color: #3b5998;   
}
.icon-twiter{
    color: #55acee;
}
.icon-youtube{
    color: #bb0000;
}


.contain-service{
    margin-bottom: 1rem;
}
.footer-text{
    color: var(--footer-link-color);
}
.parrafo{
    margin: 0 auto;
    width: 80%;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}
.correo{
    text-align: center;
}
.copy{
    color: var(--footer-link-color);
    padding: .4rem 0;
    font-size: 1.1rem;
    text-align: center;
    margin: 0;
}

@media screen and (min-width: 48rem) {
    .footer{
        height:50rem;
    }
    .footer-contain{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: baseline;
    }
   
}

@media screen and (min-width: 64rem) {
    .footer{
        height:44rem;
    }
    .footer-contain{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        gap: 0;
    }
   
    .footer-box{
        flex-basis: 30%;
    }
    .card-media{
        display: flex;
        justify-content: center;
        gap: 0 1.8rem;
    }
    .copy{
        margin-top: 2rem;
    }
   
}


