<footer class="footer">
    <h1 class="footer__title">atthes</h1>
    <div class="contenedor">

        <div class="contenedor__box contenedor__direction">
            <h3 class="contenedor__subtitle">WEBSITE LINKS</h3> 
            <ul class="list__links">
                <li><a class="list__link" routerLink="/soporte">Atención al cliente</a></li>
                <li><a class="list__link" routerLink="/preguntas">Preguntas frecuentes</a></li>
                <li><a class="list__link" routerLink="/cambios">Cambios y devoluciones</a></li>
                <li><a class="list__link" routerLink="/pagos">Formas de pago</a></li>
                <li><a class="list__link" routerLink="/politica">Politicas de Privacidad</a></li>
                

            </ul>
        </div>
        
        <div class="contenedor__box contenedor__follow">
            <h3 class="contenedor__subtitle">SIGUENOS</h3>
            <div class="card__media">
                <a href="" class="card__icon card__icon--facebook"><i class="bi bi-facebook"></i></a>
                <a href="" class="card__icon card__icon--twiter"><i class="bi bi-twitter"></i></a>
                <a href="" class="card__icon card__icon--youtube"><i class="bi bi-youtube"></i></a>
                
             </div>
        </div>

        <div class="contenedor__box contenedor__service">
            <h3 class="contenedor__subtitle">SERVICIO AL CLIENTE</h3>
            <div class="contenedor__paragraph">
                <p class="parrafo">Para m&aacute;s informaci&oacute;n sobre nuestros productos
                llama de lunes a viernes de 8:00am a 10:pm Av. Peru 122
                28021, Lima al (+51) 914-123-456 </p>
                <p class="correo">info@misitio.com</p>
                
            </div>
        </div>
    </div>
    <p class="copy">©2022-2023 atthes / Grecia Lira & Oscar Velásquez </p>
</footer>