<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div class="container-fluid">

      <button class="navbar-toggler bg-white text-white border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-toggler">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/IMG/logo.png"  alt="Logo de la página web">
        </a>

        <ul class="navbar-nav d-flex justify-content-center align-items-center menu-horizontal">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="link__active" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="link__active" routerLink="/tienda">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="link__active" routerLink="/nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="link__active" routerLink="/contactos">Contactos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"><i class="bi bi-person-circle"></i></a>
            <ul class="menu-vertical">
              <li><a routerLink="/login">Iniciar Sesión</a></li>
              <li><a routerLink="/registro">Registrarse</a></li>
              <li><a routerLink="/login">Mi cuenta</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="link__active" routerLink="/carrito"><i class="bi bi-cart-fill"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- 
  <nav>
		<ul class="menu-horizontal">
			
			<li>
				<a href="#"><i class="bi bi-person-circle"></i></a>
				<ul class="menu-vertical">
					<li><a href="curso-html.html">Iniciar Sesión</a></li>
					<li><a href="#">Registrarse</a></li>
					<li><a href="#">Mi cuenta</a></li>
				</ul>
			</li>
			<li><a href="#">Mis compras</a></li>
      <li>
				<a href="#"><i class="bi bi-cart-fill"></i></a>
			</li>

		</ul>
	</nav> -->
