.navigation{
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--nav-color);
}
.menu{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.7rem;

}

.menu label{
  cursor: pointer;
}

.bi-list{
  color: var(--white-color);
  font-size: 2.1rem;
}
.nav ul{
  padding-left: 0;
  list-style: none;
}
.nav ul li{
  position: relative;
}

.nav ul li a{
  display: block;
  color: var(--white-color);
  text-decoration: none;
  transition: background-color .1s;
  padding: 1rem 1.7rem;
  text-align: center;
  font-size: .9rem;
}
.nav ul li a:hover{
  background-color:var(--button-nav-color);
}
.nav ul li ul{
  display: none;
}
.nav ul li:hover > ul {
  display: initial;
 }

#toggle:checked ~ .nav{
  display: block;
}


.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--white-color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

input:checked ~ .burger > span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

input:checked ~ .burger >  span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

input:checked ~ .burger > span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}


/*barra*/
/* .navigation .nav{
  /* position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--nav-color); 
} */
.off-canvas-menu{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 997;
  transform: translate(-100%,0);
  /* transform: translate(0,-100%); */
  /* transform: translate(0,100%); */
  /* transform: translate(-100%,0); */
}
.off-canvas-btn:checked ~ .off-canvas-menu{
  transform: translate(0,0);
  transition: transform .3s ease-in-out;
}

/*Cerrar sesion*/
.acount{
  display: block;
  width: 100%;
  height: 1005;
  text-align: center;
  border: 0;
  background-color: inherit;
  padding: 1rem 1.7rem;
  font-size: .9rem;
  color: var(--white-color);
  transition: background-color .1s;
  cursor: pointer;
}
.acount:hover{
  background-color: var(--button-red-light);
} 



.active{
  background-color:var(--button-nav-color);
}
@media screen and (min-width:48rem){
  .menu{
    padding: .6rem 1.7rem;
  }
  
}
@media screen and (min-width:64rem){
  /* .navigation{
    height: 10px;
  } */
  .menu{
    padding: 0;
  }
  .navigation .nav{
    position:static;
    display: block;
  }
  #toggle,
  .menu label{
    display: none;
  }
  
  .nav > ul{
    display: flex;
    justify-content: flex-end;
    margin: .97rem 0;
  }
  .nav ul li{
    margin-left: .6rem;
  }
  .nav ul li a{
    padding: .8rem 1.7rem;
    text-align: center;
    font-size: .9rem;
  }
  .nav ul li ul{
    background-color: var(--nav-color);
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
   }
   .nav ul li ul li{
    margin-left: 0;
   }
   .off-canvas-menu{
    transition:  none;
    /* transform: translate(0,-100%); */
    /* transform: translate(0,100%); */
    transform: translate(0,0);
    /* transform: translate(-100%,0); */
  }
}


