<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div class="container-fluid">

      <button class="navbar-toggler bg-white text-white border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-toggler">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/IMG/logo.png"  alt="Logo de la página web">
        </a>

        <ul class="navbar-nav d-flex justify-content-center align-items-center menu-horizontal">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="link__active" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="link__active" routerLink="/tienda">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="link__active" routerLink="/nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="link__active" routerLink="/contactos">Contactos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"><i class="bi bi-person-circle"></i></a>
            <ul class="menu-vertical">
              <div class="text-white" *ngIf="rol == '0' && login">
                <a>Hola, {{nombre}}</a>
                <a routerLink="/tableprod" class="mr-2 hover:text-orange-400">Agregar</a>
                <a [routerLink]="['acount/', id]" class="mr-2 hover:text-orange-400">Mi cuenta</a>
              </div>
              
              <div class="text-white" *ngIf="rol == '1' && login">
                <a>Hola, {{nombre}}</a>
                <a [routerLink]="['acount/', id]" class="mr-2 hover:text-orange-400">Mi cuenta</a>
              </div>
                <div class="" *ngIf="login, else falso">
                  <li><button (click)="logout()" class="mr-4 hover:text-red-400">Cerrar sesión</button></li>
                </div>
                <ng-template #falso>
                  <li><a routerLink="/login">Iniciar Sesión</a></li>
                  <li><a routerLink="/registro">Registrarse</a></li>
                </ng-template>
            </ul>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="link__active" routerLink="/carrito"><i class="bi bi-cart-fill"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
