
.detail-contain{
    width: 90%;
    padding: 2rem 0;
}
.detail-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem 0;
}

.detail-img{
    align-self: center;
    width: 280px;
    border-radius: 1.2rem;
    object-fit: contain;
    object-position: center;
}
.detail-descriptions small{
    margin-right: .6rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--black-color);
}
.detail-brand{
    margin-bottom: .8rem;
    font-size: 1.5rem;
    font-family: var(--font-2);
}
.detail-name{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: #03071e;
}
.detail-detail{
    font-size: 1rem;
    font-weight: 700;
}
.detail-description{
    margin-bottom: 1rem;
    font-size: .9rem;
    text-align: justify;
    font-weight: 300;
    line-height: 1.5rem;
    color: #03071e;
}

.detail-price{
    margin-bottom: .8rem;
    font-size: 1.1rem;
    font-family: var(--font-2);
    font-weight: 300;
    color: #981352;
}
.detail-descriptions label{
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--black-color);
}
.talla{
    display: block;
    width: 80px;
    padding: .7rem;
    margin: 1.3rem 0;
    font-size: 1rem;
    border: 1px solid #212529;
    outline: none;
    cursor: pointer;
}


.detail-descriptions input{
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 1.3rem 0;
    font-size: 1rem;
    font-family: var(--font);
    font-weight: bold;
    color: #343a40;
    border: 1px solid #dee2e6;
}
.detail-descriptions input:focus{
    outline: 3px solid #86b7fe;
}
.btn-add{
    margin: 0 auto;
    max-width: 250px;
    padding: 1.3rem 0;
    font-size: 1rem;
}
.bi-cart-fill{
    margin-right: 1rem;
    font-size: 1.3rem;
}



  @media screen and (min-width: 48rem) {
   /*Imagen*/
    .detail-img{
        width: 44%;
        height: 420px;
    }
    .detail-contain{
        width: 100%;
        padding: 3rem 1rem;
    }
    .detail-flex{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .detail-descriptions{
        flex-basis: 50%;
        padding: 0;
    }
    .amount-flex{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 0 1.6rem;
        margin-bottom: 2rem;
    }
    .detail-price{
        margin-bottom: .8rem;
    }
    .detail-descriptions input{
        margin:  0;
    }


  }

  @media screen and (min-width: 64rem) {
    .detail-img{
        width: 45%;
        height: 450px;
    }
    .detail{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e9ecef;
    }
    .detail-contain{
        background-color: #f8f9fa;
        width: 70%;
        padding: 0;
        border-radius: 1.6rem;
        background: #ffffff;
        box-shadow:  20px 20px 60px #d9d9d9,
                    -20px -20px 60px #ffffff;
    }
    .detail-flex{
        height: 35rem;
        justify-content: space-between;
    }
    .detail-name{
        margin-bottom: .8rem;
       
    }
    .detail-descriptions{
        padding-right: 2rem;
    }



  }
  /*1500px*/
  @media screen and (min-width: 93.75rem) {

    .detail-img{
        width: 44%;
        height: 550px;
     }
     .detail{
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .detail-contain{
        background-color: #f8f9fa;
        width: 65%;
        padding: 0;
     }
     .detail-flex{
        justify-content: space-between;
    }

   }