
<!-- <section class="container__detail">
    <div class="detail">
        <div *ngFor="let datos of zapatillas">
            <div class="detail__flex" *ngIf="(datos.Nombre) === nombre" >

                <div class="detail__img">                       
                    <img class="img" src="{{datos.Imagen}}" alt="">
                </div>

                <div class="detail__descriptions" >
                    <p class="detail__brand">{{datos.Marca}}</p>
                    <h2 class="detail__name">{{nombre}}</h2>
                    <p class="detail__detail">Descripcion:</p>
                    <p class="detail__description">{{datos.Descripcion}}</p>            

                    <p class="detail__price">{{datos.Precio | currency}}</p>
                    
                    <div class="mb-3">
                        <label for="">Cantidad:</label>
                        <input class="" type="number" [(ngModel)]="cantidad">
                    </div>
                    
                        <div class="buton"> -->
                            <!-- <button data-modal-target="small-modal" data-modal-toggle="small-modal" class="btn__agregar" type="button">
                                Agregar a carrito
                            </button> -->
                            
                            <!-- <button data-modal-target="small-modal" data-modal-toggle="small-modal" class="btn__add" (click)="guardar({Nombre:datos.Nombre, Marca:datos.Marca,  Imagen:datos.Imagen, Cantidad:cantidad, Costo:datos.Precio, Descripcion:datos.Descripcion})"><i class="bi bi-cart-fill px-1"></i>Agregar a Carrito</button>
    
                        </div>

                  
                        <div class="card__media">
                            <a href="" class="card__icon card__icon--facebook"><i class="bi bi-facebook"></i></a>
                            <a href="" class="card__icon card__icon--twiter"><i class="bi bi-twitter"></i></a>
                            <a href="" class="card__icon card__icon--youtube"><i class="bi bi-youtube"></i></a>
                                    
                        </div>
                    </div>   
                </div>
            </div>                   
        </div>
</section> -->

<!-- De OSCAR -------------------------------------------- -->

<section class="detail full-lg-screen">
    <div class="detail-contain container">
        <div *ngFor="let datos of zapatillas">
            <div class="detail-flex" *ngIf="(datos.Nombre) === nombre" >

                                  
                <img class="detail-img" src="{{datos.Imagen}}" alt="Imagen del Producto">
                

                <div class="detail-descriptions">
                    <h3 class="detail-brand">{{datos.Marca}}</h3>
                    <h3 class="detail-name">{{nombre}}</h3>
                    <h3 class="detail-detail">Descripcion:</h3>
                    <p class="detail-description">{{datos.Descripcion}}</p>            

                    <h3 class="detail-price">{{datos.Precio | currency}}</h3>
                    
                    <div class="amount-flex">
                        <label for="">Cantidad:</label>
                        <input class="" type="number" [(ngModel)]="cantidad">
                    </div>
                    
                    <div class="buton">                 
                        <button data-modal-target="small-modal" data-modal-toggle="small-modal" class="btn-add" (click)="guardar({Nombre:datos.Nombre, Marca:datos.Marca,  Imagen:datos.Imagen, Cantidad:cantidad, Costo:datos.Precio, Descripcion:datos.Descripcion})"><i class="bi bi-cart-fill px-1"></i>Agregar a Carrito</button>
                    </div>

                </div>   
            </div>
        </div>                   
    </div>
</section>
