
<section class="detail full-lg-screen">
    <div class="detail-contain container">
        <div *ngFor="let datos of zapatillas">
            <!-- MOSTRAR LA ZAPATILLA SI ES IGUAL AL NOMBRE QUE SE PASA POR PARAMETRO -->
            <div class="detail-flex" *ngIf="(datos.Nombre) === nombre" >

                                  
                <img class="detail-img" src="{{datos.Imagen}}" alt="Imagen del Producto">
                

                <div class="detail-descriptions">
                    <h3 class="detail-brand">{{datos.Marca}}</h3>
                    <h3 class="detail-name">{{nombre}}</h3>
                    <h3 class="detail-detail">Descripcion:</h3>
                    <p class="detail-description">{{datos.Descripcion}}</p>            

                    <h3 class="detail-price">{{datos.Precio | currency}}</h3>
                    
                    <div class="amount-flex">
                        <label for="">Cantidad:</label>
                        <input class="" type="number" [(ngModel)]="cantidad">
                    </div>
                    
                    <div class="buton">                 
                        <button data-modal-target="small-modal" data-modal-toggle="small-modal" class="btn-add" (click)="guardar({Nombre:datos.Nombre, Marca:datos.Marca,  Imagen:datos.Imagen, Cantidad:cantidad, Costo:datos.Precio, Descripcion:datos.Descripcion})"><i class="bi bi-cart-fill px-1"></i>Agregar a Carrito</button>
                    </div>

                </div>   
            </div>
        </div>                   
    </div>
</section>
