<p>micuenta works!</p>

<form action=""  *ngFor="let data of datos">
    <div class="" *ngIf="data.id == name ">
        <label for="">Nombres </label>
        <input type="text" value={{data.Nombres}} placeholder={{data.Nombres}}>
        <label for="">Apellidos </label>
        <input type="text" value={{data.Apellidos}} placeholder={{data.Apellidos}}>
        <label for="">Celular </label>
        <input type="text" value={{data.Celular}} placeholder={{data.Celular}}>
        <label for="">Correo </label>
        <input type="text" value={{data.Correo}} placeholder={{data.Correo}}>
        <label for="">Contraseña </label>
        <input type="text" value={{data.Contrasena}} placeholder={{data.Contrasena}}>
    </div>
    

</form>