<p>micuenta</p>

<form action=""  *ngFor="let data of datos">
    <div class="" *ngIf="data.id == name ">
        <label for="">Nombres </label>
        <input type="text" value={{data.Nombres}} placeholder={{data.Nombres}} disabled>
        <label for="">Apellidos </label>
        <input type="text" value={{data.Apellidos}} placeholder={{data.Apellidos}} disabled>
        <label for="">Celular </label>
        <input type="text" value={{data.Celular}} placeholder={{data.Celular}} disabled>
        <label for="">Correo </label>
        <input type="text" value={{data.Correo}} placeholder={{data.Correo}} disabled>
        <label for="">Contraseña </label>
        <input type="text" value={{data.Contrasena}} placeholder={{data.Contrasena}} disabled>
    </div>
    

</form>