
<section class="us container section full-lg-screen">
    <h2 class="sneaker-title">Nuestra historia</h2>
    <div class="us-contain">
        <img class="us-img" src="assets/IMG/zap_historia.png"  alt="">

        <div class="product">
            <p class="us-text">Somos una empresa emprendedora dedicada a la venta de calzado de forma personalizada, y de excelente calidad de precio y material.El deporte nos mantiene en forma. Te mantiene atento. Nos une. A través del deporte podemos cambiar vidas. Ya sea a través de historias de atletas inspiradores. Animándote a ponerte en marcha. Ofreciéndote artículos deportivos con las últimas tecnologías para mejorar tu rendimiento. Supera tu mejor marca personal. Athes es el hogar del corredor, del jugador de básquet, del joven futbolista y del entusiasta del fitness. 
            </p>
            <p class="us-text">Diseñamos calzados para varones y mujeres. Nuestra tienda ofrece diseños sofisticados y cómodos para usarlo para cualquier ocasión.
            </p>
        </div>
    </div>
</section>

<section class="us container section full-lg-screen">
<h2 class="sneaker-title">Lo que hacemos</h2>
<div class="us-contain row-reverse">
    <img class="us-img" src="assets/IMG/zap_nosotros.png"  alt="">

    <div class="product">
        <p class="us-text">
            Creadores que disfrutan de cambiar las reglas del juego. Desafiar las convenciones. Romper las normas y definir nuevas. Y volverlas a romper. Confeccionamos nuevos modelos de calzado personalizado para cada partido, con modelos modernos y clásicos que sirven de inspiración en deporte y moda. A través de nuestras colecciones eliminamos las barreras entre la moda de alta costura y el mejor rendimiento.
        </p>
        <p class="us-text">Siempre pensando en que disfrutes tu estad&iacute;a en nuestro sitio web, y que tengas la experiencia inolvidable al realizar tu compra en nuestra tienda, de forma segura y fácil de acceder. Puedes acercarte a nuestra tienda presencial  con tu boleta de compra.</p>
    </div>
</div>
</section>

<section class="container section">
<div class="us-store">
    <div class="text-center">
        <h2 class="">Tiendas</h2>
        <p>Av. Peru 122 28021, Lima al (+51) 914-123-456</p>
    </div>
    <div class="product text-center">
        <h2>Horarios</h2>
        <p>Lunes a viernes: 11:00 – 18:30</p>
        <p>Sábados: 11:00 – 17:00</p>                 
        <p>Domingos: 12:30 – 16:30</p>
    </div>
</div>
</section>