
.us-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem 0;
    padding: 0 .8rem;
}

.us-text{
    margin-top: 0;
    text-align: justify;    
}
.horario{
    text-align: center;
    line-height: 1.7;
}
@media screen and (min-width:48rem) {
    .us-contain{
        display: grid;
        grid-template-columns: repeat(2,50%);
        justify-content: center;
        column-gap: 1.3rem;
        padding: 0 1rem;
    } 
}

@media screen and (min-width:64rem) {
    .us-img{
        width: 500px;
        height: 500px;
        object-fit: contain;
    }
    .us-contain{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2.8rem;
    }
    .row-reverse{
        flex-direction: row-reverse;
    }
    .us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .us-store{
        display: flex;
        justify-content: space-around;
    }
  }

