<section class="bg-image">
    <div class="bg-contain">
        <h1 class="title">Nosotros</h1>
    </div>
</section>

<section class="us container section full-lg-screen">
<h2 class="sneaker-title">Nuestra historia</h2>
<div class="us-contain">
    <img class="us-img" src="../../../assets/IMG/producto.jpg"  alt="">

    <div class="product">
        <p class="us-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae amet eius excepturi repellat voluptas odit, tempore possimus rerum soluta modi harum non, ea labore quae et adipisci eveniet rem necessitatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate soluta iste aperiam perspiciatis repellendus, maxime iusto est molestias sed. Iusto ipsa quo nihil quae expedita veritatis voluptatum eaque quidem aspernatur?</p>
        <p class="us-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae amet eius excepturi repellat voluptas odit, tempore possimus rerum soluta modi harum non, ea labore quae et adipisci eveniet rem necessitatibus?</p>
    </div>
</div>
</section>

<section class="us container section full-lg-screen">
<h2 class="sneaker-title">Lo que hacemos</h2>
<div class="us-contain row-reverse">
    <img class="us-img" src="../../../assets/IMG/producto.jpg"  alt="">

    <div class="product">
        <p class="us-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae amet eius excepturi repellat voluptas odit, tempore possimus rerum soluta modi harum non, ea labore quae et adipisci eveniet rem necessitatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate soluta iste aperiam perspiciatis repellendus, maxime iusto est molestias sed. Iusto ipsa quo nihil quae expedita veritatis voluptatum eaque quidem aspernatur?</p>
        <p class="us-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae amet eius excepturi repellat voluptas odit, tempore possimus rerum soluta modi harum non, ea labore quae et adipisci eveniet rem necessitatibus?</p>
    </div>
</div>
</section>

<section class="container section">
<div class="us-store">
    <div class="text-center">
        <h2 class="">Tiendas</h2>
        <p>Av. Peru 122 28021, Lima al (+51) 914-123-456</p>
    </div>
    <div class="product text-center">
        <h2>Horarios</h2>
        <p>Lunes a viernes: 11:00 – 18:30</p>
        <p>Sábados: 11:00 – 17:00</p>                 
        <p>Domingos: 12:30 – 16:30</p>
    </div>
</div>
</section>