<header>
    <div class="fondo">
        <div class="contenedor">
            <h1 class="title">Nosotros</h1>
        </div>

    </div>
</header>

<section class="contain my-5">
    <h2 class="title__productos">Nuestra historia</h2>
    <div class="contain__products">
        <div class="product">
            <img class="products" src="../../../assets/IMG/producto.jpg"  alt="">
        </div>
        <div class="product">
            <p class="parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae amet eius excepturi repellat voluptas odit, tempore possimus rerum soluta modi harum non, ea labore quae et adipisci eveniet rem necessitatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate soluta iste aperiam perspiciatis repellendus, maxime iusto est molestias sed. Iusto ipsa quo nihil quae expedita veritatis voluptatum eaque quidem aspernatur?</p>
            <p class="parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae amet eius excepturi repellat voluptas odit, tempore possimus rerum soluta modi harum non, ea labore quae et adipisci eveniet rem necessitatibus?</p>
        </div>
    </div>
</section>

<section>
    <h2 class="title__productos">Lo que hacemos</h2>
    <div class="contain__products">
        <div class="product">
            <p class="parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae amet eius excepturi repellat voluptas odit, tempore possimus rerum soluta modi harum non, ea labore quae et adipisci eveniet rem necessitatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate soluta iste aperiam perspiciatis repellendus, maxime iusto est molestias sed. Iusto ipsa quo nihil quae expedita veritatis voluptatum eaque quidem aspernatur?</p>
            <p class="parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae amet eius excepturi repellat voluptas odit, tempore possimus rerum soluta modi harum non, ea labore quae et adipisci eveniet rem necessitatibus?</p>
        </div>
        <div class="product">
            <img class="products" src="../../../assets/IMG/producto.jpg"  alt="">
        </div>
    </div>
</section>

<section class="contain my-5">
    <div class="contain__products">
        <div class="product">
            <h2 class="title__productos">Tiendas</h2>
            <p class="parrafo">Av. Peru 122 28021, Lima al (+51) 914-123-456</p>
        </div>
        <div class="product">
            <h2 class="title__productos">Horarios</h2>
            <p class="horario">Lunes a viernes: 11:00 – 18:30</p>
            <p class="horario">Sábados: 11:00 – 17:00</p>                 
            <p class="horario">Domingos: 12:30 – 16:30</p>
        </div>
    </div>
</section>