
/*PRODUCTOS----------------------------------------*/

.container-sneakers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: space-between; */
    gap: 3rem 2rem;
    margin-bottom: 5rem;
}   

/*CARDS*/
.container-sneaker{
    width: 270px;
    padding: 1.7rem 2rem;
    border-radius: 10px;
    background-color: var(--white-color);
    cursor: pointer;
    box-shadow: 11px 17px 12px -3px rgba(0,0,0,0.1);
    /* box-shadow: 0px 10px 15px -3px rgba(119, 119, 119, 0.26); */
    transition: transform .3s ease-in-out, background-color .3s ease;
}
.container-sneaker:hover{
    background-color: #f8f9fa;
    transform: scale(1.034);
}

.card-subtitle{
    margin-bottom: .7rem;
    font-size: 1.6rem;
    font-family: var(--font-2);
}
.card-name{
    margin-bottom: .7rem;
    font-size: .9rem;
    font-weight: 300;
    color: #8d99ae;
}
.card-image{
    display: block;
    height: 300px;
    width: 100%;
    object-fit:contain;
    object-position: center;
}
.card-price{
    font-size: 1.2rem;
    font-family: var(--font-2);
    font-weight: 100;
    color: #981352;
    margin: 1rem 0;
}

.card-description{
    display: flex;
    justify-content: space-between;
    gap: .4rem;
}
.bi-cart-fill{
    margin-right: .7rem;
}
