<section>
    <h2 class="sneaker__title">Productos</h2>
    <div class="contenedor">
        <!-- <select name="" id="">
            <option selected value=">">Mayor</option>
            <option  value="==">Igual</option>
            <option  value="<">Menor</option>
        </select>
        <input type="number" value="0" min="0"> -->
        <div class="container__sneakers">
        
            <div *ngFor="let datos of zapatillas" class="container__sneaker" (click)="goToDetalle(datos.Nombre)">
                <div class="sneaker">
                    <h3 class="sneaker__subtitle">{{datos.Marca}}</h3>
                    <p class="sneaker__name">{{datos.Nombre}}</p>
                    <div class="">
                        <img src="{{datos.Imagen}}" class="imagen" alt="productos">
                    </div>
                    <p class="sneaker__price">{{datos.Precio |currency:'S/. '}}</p>
                        <div class="sneaker__description">
                            <button class="btn__add" (click)="goToDetalle(datos.Nombre)"><i class="bi bi-cart-fill px-1"></i>Agregar</button>
                            <button class="btn__seeMore" (click)="goToDetalle(datos.Nombre)">Ver más</button>

                        <!-- <div class="">
                            <p class="font-semibold text-center text-[1.1rem] py-2">S/. {{datos.Costo}}</p>
                        </div> -->
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>