/*Imagen*/
.medium{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../../../assets/IMG/question3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.medium-title{
  font-size: var(--step-5);
  text-align: center;
  color: var(--white-color);
}
.medium-subtitle{
  font-size: var(--step-2);
  text-align: center;
  color: #cb3248;
}

/*container*/
.supportCenter-accordion{
    width: 96%;
    margin: 0 auto;
}

.accordion-subtitle{
  margin: 2rem 0;
  font-size: var(--step-1);
  text-align: left;
  font-weight: bold;  
  color: #3e1151;
}
.accordion-body{
  padding: 0 2rem;
}
.accordion-body-title{
  margin: .4rem 0;
  color: var(--button-nav-color);
}
.accordion-text{
  padding: 1rem;
  font-size: 1rem;
  text-align: justify;
  color: var(--black-color);
  background: #f6f8fa;
  border-left: 4px solid #364f6b;
}



  details { 
    position: relative;  
    width: 100%;
    margin-bottom: 1.7rem;   
    background-color: #fff;
    border: 1px solid #d8e0e9;
    border-radius: 8px;  
    transition: box-shadow .2s ease;
  }
  details summary {  
    position: relative;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    list-style: none;
    color: #343a40;
    cursor: pointer;
  }
  
  details:hover,
  details[open] {
    box-shadow: 5px 5px 15px #d9d9d9;

  }
  
  details[open] {
    background: var(--white-color);
  }
  
  details[open] summary {
    font-weight: 600;
  }
  
  summary:before { 
    position: absolute;
    top: 5px;
    right: 0;
    color: var(--button-nav-color);
    content: "+";
    padding-right: 1.5rem; 
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  details[open] > summary:before {
    content: "-";
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--button-nav-color);
  }

  @media screen and (min-width: 48rem) {
    .accordion-body{
      padding: 0 3rem;
    }
  }

  @media screen and (min-width: 48rem) {
    .supportCenter-accordion{
      width: 80%;  
    }
  }

