<section class="medium">
    <h2 class="medium__title">¿Tienes dudas?</h2>
    <h3 class="medium__subtitle">Podemos ayudarte</h3>
</section>

<section class="supportCenter">
    <h2 class="supportCenter__title">PREGUNTAS FRECUENTES</h2>
          <section class="contain__accordion">
            <details>
                <summary> 
                  <i class="bi bi-cart-check"></i>
                  Comprar en Atthes</summary>
                  <h3  class="supportCenter__subtitle">¿Qué necesito para comprar en Atthes?</h3>
                  <div class="accordion-body">
                      <p class="parrafo">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ullam ut iure enim ducimus placeat possimus, aliquid voluptates aperiam laudantium quis expedita culpa fugiat eveniet sequi, laboriosam molestias quibusdam veritatis.
                      </p>
                  </div>

                  <h3 class="supportCenter__subtitle">¿Cómo comprar en Atthes?</h3>
                  <div class="accordion-body">
                      <p class="parrafo">
                        <li>Visitar en a nuestra Tienda en la parte superior</li>
                        Se encuentran nuestros productos, seleccionar y dar click en el boton de carrito para agregar al carrito. Escoger la cantidad deseada y se visualizara en pedidos
                      </p>
                      <p class="parrafo">
                        <li>Pedidos</li>
                        Se mostrará los detalles y precios del producto, asi como el precio total del pedido, en el que se puede eliminar el pedido antes de la compra final.                     
                      </p>
                      <p class="parrafo">
                        <li>Compra final</li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ut atque nobis est minus voluptates quasi perspiciatis error optio distinctio! Non nesciunt minima distinctio magni provident assumenda ipsa! Quae, quos.
                      </p>
                  </div>

            </details>
    
            <details>
                <summary>Curso HTML</summary>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis sapiente est modi aperiam, quos corrupti possimus maxime earum recusandae vel culpa explicabo repudiandae, aliquid nisi enim error magni veniam eos?</p>
            </details>
    
            <details>
                <summary>Curso HTML</summary>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis sapiente est modi aperiam, quos corrupti possimus maxime earum recusandae vel culpa explicabo repudiandae, aliquid nisi enim error magni veniam eos?</p>
            </details>
    
        </section>



</section>

