<p>Editar Productos</p>

<form [formGroup]="editar">
    <div class="" *ngFor="let data of datos">
        <div class="" *ngIf="data.id == id ">
            <label for="name">Nombre </label>
                <input type="text"  name="Nombre" formControlName="Nombre">
            
            <label for="">Descripcion </label>
                <input type="text"  name="Descripcion"  formControlName="Descripcion" >
            
            <label for="">Precio </label>
                <input type="text"   name="Precio" formControlName="Precio" >
            
            <label for="">Marca </label>
                <input type="text"   name="Marca" formControlName="Marca" >
            
            <label for="">Imagen </label>
                <input type="text"  name="Imagen" formControlName="Imagen" >
                <img src="{{data.Imagen}}" alt="">
            
            <label for="">Cantidad </label>
                <input type="text" name="Cantidad"  formControlName="Cantidad" >
        </div>
    </div>
</form>
<div class="">
    <button type="submit" (click)="guardar()">Guardar</button>
</div>