<section class="container__contact">
    <div class="container__form">
        <h1 class="form__title">Contacto</h1>
        <div class="icons">
            <div class="list__icons">
                <a href="" class="list__icon"><i class="bi bi-geo-alt-fill"></i></a>
                <p class="icons__parapgraph"><span class="fw-bold">Dirección: </span>Av. Peru 122 28021, Lima</p>
            </div>
            
            <div class="list__icons">
                <a href="" class="list__icon"><i class="bi bi-telephone-fill"></i></a>
                <p class="icons__parapgraph"><span class="fw-bold">Tel&eacute;fono: </span>(+51) 914-123-456</p>
            </div>

            <div class="list__icons">
                <a href="" class="list__icon"><i class="bi bi-send-fill"></i></a>
                <p class="icons__parapgraph"><span class="fw-bold">Email: </span>info@misitio.com</p>
            </div>

            <div class="list__icons">
                <a href="" class="list__icon"><i class="bi bi-globe-americas"></i></a>
                <p class="icons__parapgraph"><span class="fw-bold">Website: </span>atthes.com</p>
            </div>

           
        </div>
        <div class="form">
            <form action="">
                <div class="mb-4">
                    <label for="name" class="form-label">Nombre*</label>
                    <input type="text" class="form-control" id="name" placeholder="Inserte su nombre">
                </div>

                <div class="mb-4">
                    <label for="ape" class="form-label">Apellido*</label>
                    <input type="text" class="form-control" id="ape" placeholder="Inserte su apellido">
                </div>

                <div class="mb-4">
                    <label for="email" class="form-label">Correo electronico*</label>
                    <input type="email" class="form-control" id="email" placeholder="correo@gmail.com">
                </div>

                <div class="mb-4">
                    <label for="mensaje" class="form-label">Comentario o mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="3"></textarea>
                </div>
                <div class="text-center">
                    <button class="btn">Enviar</button>
                </div>
            </form>
            <div class="img__contact">
                <img src="../../../assets/IMG/zapatilla_contacto.jpg" alt="imagen de zapatilla" class="img">
            </div>
        </div>
    </div>
</section>