<section class="contact-contain">
    <div class="contact-form-media container">
        <h2 class="sneaker-title">Contacto</h2>

        <div class="card-media">
            <div class="icons">
                <a href="" class="icon"><i class="bi bi-geo-alt-fill"></i></a>
                <p><span class="fw-bold">Dirección: </span>Av. Peru 122 28021, Lima</p>
            </div>
            
            <div class="icons">
                <a href="" class="icon"><i class="bi bi-telephone-fill"></i></a>
                <p><span class="fw-bold">Tel&eacute;fono: </span>(+51) 914-123-456</p>
            </div>

            <div class="icons">
                <a href="" class="icon"><i class="bi bi-send-fill"></i></a>
                <p><span class="fw-bold">Email: </span>info@misitio.com</p>
            </div>

            <div class="icons">
                <a href="" class="icon"><i class="bi bi-globe-americas"></i></a>
                <p><span class="fw-bold">Website: </span>atthes.com</p>
            </div>

        </div>

        <div class="form">
            <form class="contact-form" action="">
                <input type="text" class="form-control" id="name" placeholder="Inserte su nombre*">
                <input type="text" class="form-control" id="ape" placeholder="Inserte su apellido*">
                <input type="email" class="form-control" id="email" placeholder="correo@gmail.com*">
                <textarea class="form-control" id="mensaje" rows="3" placeholder="Ingrese su mensaje*"></textarea>
                <button class="btn-send">Enviar</button>
    
            </form>
            <div class="img-contact">
                <img src="../../../assets/IMG/zapatilla_contacto.jpg" alt="imagen de zapatilla" class="img">
            </div>
        </div>
    </div>
</section>