.contact-form-media{
    padding: 0 1.8rem; 
    background-color:var(--white-color);
}

.card-media{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
    gap: 1rem 0;
}
.icons{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons > p {
    text-align: center;
}
.icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 3;
    border-radius: 50%;
    background-color: var(--button-nav-color);
    transition: transform .3s ease-in-out, box-shadow .3s ease;
}

.icon:hover{
    box-shadow: 0 0 10px 5px #675cfe86;
    transform: scale(1.1); 
}

.bi{
    font-size: .9rem;
    color: var(--white-color);
}
.fw-bold{
    font-weight: bold;
}
/*FORMULARIO*/
.form{
    margin: 4rem 0;
}
.contact-form > *{
    display: block;
    width: 100%;
    padding: 1.5rem 1rem;
    margin: 1.3rem auto;
}
.contact-form input,
.contact-form textarea{
    font-size: 1.04rem;
    font-family: var(--font);
    font-weight: bold;
    color: var(--black-color);
}
.contact-form *::placeholder{
    font-size: 1rem;
    color: #adb5bd;
 }

.contact-form input{
    padding-left: 1rem;
    border: 1px solid #adb5bd;
    outline: none;
}

.contact-form textarea{
    border: 1px solid #adb5bd;
    outline: none;
    resize: none;
 }

 .contact-form .btn-send{
    display: block;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 1.04rem;
    font-weight: bold;
    color: var(--white-color);
    border: 0;
    background-color: var(--button-nav-color);
    cursor: pointer;
    transition: opacity .1s ease;
 }
 .contact-form .btn-send:hover{
    opacity: .85;
 }
 

.img-contact{
    display: none;
}

 @media screen and (min-width:48rem){
    .form{
        width: 80%;
        margin: 4rem auto;
    }
    .contact-form .btn-send{
       font-size: 1.1rem;
     }
}
 @media screen and (min-width:64rem) {
     .card-media{
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
    .form{
        display: flex;
        flex-direction: row-reverse;
        gap: 0 1rem;
        width: 100%;
        margin: 2.4rem auto;

    }
    .contact-form > *{
        padding: 1.5rem 1rem;
        margin: 1rem auto;
    }
    .img-contact{
        display: block;
        width: 400px;
    }
    .contact-form{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       column-gap: 1rem;
       flex-grow: 1;
       padding: 0 1rem;

    }
    .contact-form textarea,
    .contact-form-loader{
       grid-column: span 2;
    }
    
    .contact-form .btn-send{
        padding: 1rem 0;
        grid-column: span 2;
    }
 }

