<header>
    <div class="fondo">
        <div class="contenedor">
            <h1 class="title">atthes</h1>
            <button class="btn__comprar" routerLink="/tienda">Comprar</button>
        </div>

    </div>
</header>

<section class="contain my-5">
    <div class="contenedor__img">
        <div class="imagen img__hombres">
            <p class="subtitle">Coleccion para Hombres</p>
        </div>
        <div class="imagen img__mujeres">
            <p class="subtitle">Coleccion para Mujeres</p>
        </div>
    </div>
</section>

<section class="contain my-5">
    <h2 class="sneaker__title">Productos Destacados</h2>
    <div class="contenedor">
        <div class="container__sneakers">
        
            <div *ngFor="let datos of zapatillas" class="container__sneaker" (click)="goToDetalle(datos.Nombre)">
                <div class="sneaker">
                    <h3 class="sneaker__subtitle">{{datos.Marca}}</h3>
                    <p class="sneaker__name">{{datos.Nombre}}</p>
                    <div class="sneaker__containImg">
                        <img src="{{datos.Imagen}}" class="sneaker__imagen" alt="productos">
                    </div>
                    <p class="sneaker__price">{{datos.Precio |currency:'S/. '}}</p>
                        <div class="sneaker__description">
                            <button class="btn__add" (click)="goToDetalle(datos.Nombre)"><i class="bi bi-cart-fill px-1"></i>Agregar</button>
                            <button class="btn__seeMore" (click)="goToDetalle(datos.Nombre)">Ver más</button>
    
                        <!-- <div class="">
                            <p class="font-semibold text-center text-[1.1rem] py-2">S/. {{datos.Costo}}</p>
                        </div> -->
                    </div> 
                </div>
            </div>

        </div>
    </div>
    
</section>
