.bg-image{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/IMG/fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.bg-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: inherit;
}
.title{
    font-size: 15vw;
    font-weight: 700;
    color: var(--white-color);
    text-decoration: line-through;
}

.btn-buy{
    margin-top: 1rem;
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease, transform .3s ease, color .3s ease;
}

.btn-buy:hover{
    color: var(--white-color);
    background-color: #ef233c;
    transform: scale(1.1);
}

.btn-detail{
    position: relative;
    padding: 1rem 2.5rem;
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #0d1b2a;
    background: none;
    border: 2px solid  rgb(207, 207, 207) ;
    cursor: pointer;
  /* transition: color 0.4s linear; */
}
.btn-detail:hover{
    color: var(--white-color);
}
.btn-detail::before{
    content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--button-nav-color);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);

}
.btn-detail::before{
    transform: scaleX(0);
}
.btn-detail:hover::before{
    transform: scaleX(1);
}



/**Quienes somos*/
.sneaker-subtitle{
    text-align: center;
    font-size: var(--step-5);
    font-weight: 700;
    margin: 1rem 0;
    letter-spacing: 1.8px;
    color: var(--section-title);
}

.sneaker-subtitle P{
    text-align: left;
    font-size: 2.8rem;
    line-height: 2;
}
.aboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*CONTENEDOR REFERENCIA DE CATEGORIA HOMBRE Y MUJER*/
.container-img{
    overflow: hidden;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: transform .4s ease-out;
}
.img-men{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/IMG/hombre.jpg");
}

.img-women{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(" ../../../assets/IMG/mujer.jpg");
}

.image:hover{
    transform: scale(1.06); 
}

.image .subtitle{
    font-size: var(--step-3);
    font-weight: 600;
    color: var(--white-color);
    text-align: center;
}
@media screen and (min-width:48rem){
    .container-img{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .image{
        flex-basis: 45%;
    }
}
@media screen and (min-width:64rem){
    .image{
        height: 600px;
        flex-basis: 40%;
    }
}

/*BANER DE PROMOCION*/
.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container .banner{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
}

.banner-container .banner .shoe{
    flex: 1 1 250px;
    padding: 15px;
    text-align: center;
}

.banner-container .banner .shoe img{
    width: 80%;
}

.banner-container .banner .content{
    flex: 1 1 250px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
.banner-container .banner .content span{
    color: #663cc9;
    /* color: #ef233c; */
    font-size: 25px;
}

.banner-container .banner .content h3{
    color: #fff;
    font-size: 40px;
}

.banner-container .banner .content p{
    color: #663cc9;
    /* color: #ef233c; */
    font-size: 20px;
    padding: 10px 0;
}

.banner-container .banner .content .boton{
    display: block;
    height: 40px;
    width: 150px;
    line-height: 40px;
    background-color: #fff;
    color: #d63031;
    margin: 5px auto;
    text-decoration: none;
}
.banner-container .banner .content .boton:hover{
    display: block;
    height: 40px;
    width: 150px;
    line-height: 40px;
    background-color: #d63031;
    color: #fff;
    margin: 5px auto;
    text-decoration: none;
    transition: .2s;
    transform: scale(1.1);
}

.banner-container .banner .woman{
    position: relative;
    bottom: -33px;
    padding: 10px;
    flex: 1 1 250px;
}

.banner-container .banner .woman img{
    width: 100%;
}

@media (max-width:768px){
    .banner-container .banner .woman{
        display: none;
    }
}
/*----------------------------------------------*/

/*PRODUCTOS----------------------------------------*/

.container-sneakers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem 0;
}   

/*CARDS*/
.container-sneaker{
    width: 300px;
    padding: 1.2rem 2rem;
    background-color: var(--white-color);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 11px 17px 12px -3px rgba(0,0,0,0.1);
    /* box-shadow: 0px 10px 15px -3px rgba(119, 119, 119, 0.26); */
    transition: transform .3s ease-in-out, background-color .3s ease;
}
.container-sneaker:hover{
    background-color: #f8f9fa;
    transform: scale(1.034);
}

.card-subtitle{
    margin-bottom: .7rem;
    font-size: 1.6rem;
    font-family: var(--font-2);
}
.card-name{
    margin-bottom: .7rem;
    font-size: .9rem;
    font-weight: 300;
    color: #8d99ae;
}
.card-image{
    display: block;
    height: 300px;
    width: 100%;
    object-fit:cover;
    object-position: center;
}
.card-price{
    font-size: 1.2rem;
    font-family: var(--font-2);
    font-weight: 100;
    color: #981352;
    margin: 1rem 0;
}

.card-description{
    display: flex;
    justify-content: space-between;
    gap: .4rem;
}
.bi-cart-fill{
    margin-right: .7rem;
}


