
<header>
    <div class="bg-image">
        <div class="bg-contain">
            <h1 class="title">atthes</h1>
            <button class="btn-buy anim-bottom to-left" routerLink="/tienda">Comprar</button>
        </div>

    </div>
</header>

<section class="aboutUs container section full-lg-screen">
    <h2 class="sneaker-subtitle">¿Qui&eacute;nes somos?</h2>
     <p>Somos una empresa seria y responsable, con amplias metas de llegar a distribuir
        por todo Lima, ofreciendo calzados de calidad y garant&iacute;a, con un servicio de 
        atención agradable y segura al cliente.
    </p>
    <p>En Atthes tenemos la finalidad de ofrecer zapatillas a un precio estable para nuestros
        clientes con distintos diseños a gusto del cliente.
    </p>
    <p>Nuestras pol&iacute;ticas de seguridad de datos tiene la finalidad de garantizar la confianza
        con nuestros clientes en su visita a nuestro sitio web.
        Esperamos que disfrute su estad&iacute;a en nuestro sitio web, y atender a sus preguntas
        o consultas acerca de su pedido.
    </p>
    <p>
    </p>
    <button class="btn-detail" routerLink="/nosotros">M&aacute;s detalles</button>
    <!-- <button class="button btn-1">Contenido</button> -->
</section>



<section class="container section full-lg-screen">
    <h2 class="sneaker-title">Colección</h2>
    <div class="container-img">
        <div class="image img-men">
            <p class="subtitle">Coleccion para Hombres</p>
        </div>
        <div class="image img-women">
            <p class="subtitle">Coleccion para Mujeres</p>
        </div>
    </div>
</section>

<section class="container section full-lg-screen">
    <div class="banner-container">
        <div class="banner">
            <div class="shoe">
                <img src="assets/TARJETAS/section.png" alt="">
            </div>
            <div class="content">
                <span>hasta</span>
                <h3>50% descuento</h3>
                <p>la oferta termina después de 5 dias</p>
                <a routerLink="/tienda" class="boton">ver oferta</a>
            </div>
            <div class="woman">
                <img src="assets/TARJETAS/woman.png" alt="">
            </div>
        </div>
    </div>
</section>


<section class="container section full-lg-screen">
    <h2 class="sneaker-title">Productos Destacados</h2>
        <div class="container-sneakers">
        
            <div *ngFor="let datos of zapatillas" class="container-sneaker" (click)="goToDetalle(datos.Nombre)">
                <div class="card-sneaker">
                    <h3 class="card-subtitle">{{datos.Marca}}</h3>
                    <h3 class="card-name">{{datos.Nombre}}</h3>
                    <div class="sneaker__containImg">
                        <img src="{{datos.Imagen}}" class="card-image" alt="productos">
                    </div>
                    <h3 class="card-price">{{datos.Precio |currency:'S/. '}}</h3>
                        <div class="card-description">
                            <button class="btn-add" (click)="goToDetalle(datos.Nombre)"><i class="bi bi-cart-fill px-1"></i>Agregar</button>
                            <button class="btn-seeMore" (click)="goToDetalle(datos.Nombre)">Ver más</button>
    
                        <!-- <div class="">
                            <p class="font-semibold text-center text-[1.1rem] py-2">S/. {{datos.Costo}}</p>
                        </div> -->
                    </div> 
                </div>
            </div>
        </div>
</section>
