@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
.container__cart{
    max-width: 1200px;
    margin: 0 auto;
}
.cart__subtitle{
    font-size: 2.3rem;
    font-weight: 700;
    margin: 3rem 0;
    letter-spacing: 2px;
    color: #023047;
}
/*Flex de los productos*/

.cart__product{
    padding: 1.5rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
    box-shadow: 0px 16px 16px -5px rgba(0,0,0,0.1);
}

/*Imagen*/
.cart__detail{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    gap: 2.6rem;
}
.img{
    display: block;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.cart__brand{
    font-family: 'Tilt Warp', cursive;
    font-size: 1.5rem;
    margin: .6rem 0;
}
.cart__name{
    color: #8d99ae;
    font-weight: 700;
}
.cart__description{
    color: #8d99ae;
}
.cart__price{
    font-family: 'Tilt Warp', cursive;
    color: #981352;
}


/*Botones*/
.amount{
    display: block;
    font-weight: 700;
    width: 8px;
    text-align: center;
}
.cart__btn{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.button{
    display: inline-block;
    padding: .8rem;
    outline: none;
    color: #343a40;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: #fff;
    border: 2px solid #ced4da;
    border-radius: 10px;
}
.button:hover{
    background-color: #dee2e6;
}
.button:active{
    background-color: #ced4da;
}

/*BOTON DELETE*/

.btn__x{
    border: none;
    color: #8d99ae;
}
.btn__x:hover{
    background-color: #ef233c;
    color: #fff;
    transition: .4s;
    transform: scale(1.1);
}
.btn__x:active{
    background-color: #d90429;
}

/*PRECIO*/
.cart__precioTotal{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5rem;
    padding: 1.5rem;
}
.cart__total{
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.cart__totalPrice{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-family: 'Tilt Warp', cursive;
    color: #981352;
}

/*BOTON COMPRAR*/
.cart__buy{
    margin-bottom: 3rem;
    display: flex;
    justify-content: flex-end;
}
/* .button__buy{
    display: inline-block;
    padding: 0.7rem 0;
    outline: none;
    border: none;
    background-color: #e63946;
    color: #fff;
}

.button__buy:hover {
    background-color: #d90429;
} */
.btn__add{
    display: inline-block;
    padding: 1rem 5.4rem;
    outline: none;
    border: none;
    background-color: #e63946;
    color: #fff;
    border-radius: 10px;
}
.btn__add:hover{
    background-color: #d90429;
}

@media screen and (min-width: 1200px) {

  }