
.cart-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 2.5rem;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0px 16px 16px -5px rgba(0,0,0,0.1);
}
.cart-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.4rem;
}

/*Imagen*/
.cart-image{
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    object-fit: contain;
}

.cart-name{
    margin-bottom: .4rem;
    font-size: .9rem;
    font-weight: 600;
    color: #8d99ae;
}
.cart-brand{
    margin-bottom: .5rem;
    font-size: 1.4rem;
    font-family: var(--font-2);
    font-weight: 300;
}

.cart-price{
    margin-bottom: .4rem;
    font-size: 1.1rem;
    font-family: var(--font-2);
    font-weight: 300;
    color: #981352;
}
.cart-total{
    font-size: 1.1rem;
    color: #8d99ae;
}


/*Botones*/
.cart-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.5rem;
}
.amount{
    display: block;
    width: 8px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}
/*BOTON DELETE*/


.btn-x{
    padding: .8rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #343a40;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--white-color);
    transition: transform .3s ease, color .3s ease,background-color .3s ease;
}
.btn-x:hover{
    background-color: var(--button-add-color);
    color: var(--white-color);
    transform: scale(1.1);
}
.btn-x:active{
    background-color: #d90429;
}

/*PRECIO*/
.cart-totalPrice{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 4rem;
    margin: 4rem 0 3rem 0;
    /* padding: 1.5rem; */
}
.cart-totalG{
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.cart-totalPriceG{
    font-size: 1.3rem;
    font-family: var(--font-2);
    font-weight: 300;
    letter-spacing: 1px;
    color: #981352;
}

/*BOTON COMPRAR*/
.cart-buy{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
}

.bi-cart-fill{
    margin-right: 1rem;
}
.btn__add{
    display: inline-block;
    padding: 1rem 5.4rem;
    color: #fff;
    background-color: #e63946;
    outline: none;
    border: none;
    border-radius: 10px;
}



.other{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    text-align: center;
 }
 .sneaker-title-login{
    margin: 1rem 0;
    font-size: var(--step-4);
    font-weight: 700;
	text-align: center;
	color: var(--section-title);
 }
.bi-person-circle{
    font-size: 5rem;
    color: #495057;
 }
 .other > p{
    margin: 1rem 0;
    font-size: 1rem;
    color: #343a40;
 }
 .btn-add{
    width: 200px;
    padding: 1.3rem 0;
    font-size: 1.1rem;
    font-weight: bold;
 }