
<section class="cart container" *ngIf="login else otro">
    <h2 class="sneaker-title">Mis pedidos</h2>
    <!-- EL FOR ME PERMITE RECORRER TODOS MIS DATOS DE MI CARRITO Y NOMBRAR SUS CAMPOS PARA MOSTRAR -->
    <div class="" *ngFor="let datos of data">
        <div class="cart-products" >

            <div class="cart-product"  >
                <div class="cart-detail">
                    <img src="{{datos.Imagen}}" alt="Imagen del Producto de la Zapatilla" class="cart-image">
                    
                    <div class="card-description">
                        <h3 class="cart-name">{{datos.Nombre}}</h3>
                        <h3 class="cart-brand">{{datos.Marca}}</h3>
                        <!-- <h3 class="cart-brand">{{datos.Modelo}}</h3>
                        <h3 class="cart-brand">{{datos.Codigo}}</h3>
                        <h3 class="cart-brand">{{datos.Serie}}</h3> -->
                        <h3 class="cart-price">{{datos.Costo | currency}}</h3>
                        <h3 class="cart-total">{{datos.Costo * datos.Cantidad}}</h3>
                    </div>
                </div>
    
                 <div class="cart-contain">
                    <span class="amount">{{datos.Cantidad}}</span>
                    
                    <button class="btn-x" (click)="eliminar(datos)">x</button>
                </div> 
            </div>
        </div>
    </div>

    <!-- PARA OBTENER LA SUMA TOTAL DE LOS PRODUCTOS -->
    <div class="cart-totalPrice">
        <h3 class="cart-totalG">Total</h3>
        <h3 class="cart-totalPriceG">{{suma | currency}}</h3>   
    </div>

    <div class="cart-buy" >
        <!-- PARA IR A BOLETA MEDIANTE SU ID -->
         <button class="btn-add" (click)="goToBoleta(uid)"> <i class="bi bi-cart-fill px-1"></i>Comprar</button>
    </div>

</section>

<!-- ESTO ES SI NO ESTA LOGEADO MUESTRE ESTE TEMPLATE -->
<ng-template #otro>
    <section class="other container">
        <h2 class="sneaker-title-login">Inicia sesi&oacute;n</h2>
        <i class="bi bi-person-circle item"></i>
      
        <p>Para realizar un pedido de tu carrito de compras inicia sesión aqui</p>
        <button class="btn-add" routerLink="/login">Iniciar Sesión</button>
    </section>
</ng-template>

