<div class="container">
  <h2 class="sneaker-title">Agregar Nuevo Producto</h2>
  <div class="form">
    <form class="contact-form" [formGroup]="AddProductos">
      <input type="text" id="Nombre" placeholder="Nombre del Producto*" name="Nombre" formControlName="Nombre">
      <input type="number" id="Precio" placeholder="Precio del Producto*" name="Precio" formControlName="Precio">

      <input type="number" id="Cantidad" placeholder="Stock del Producto*" name="Cantidad" formControlName="Cantidad">
      <input type="text" id="Marca" placeholder="Marca del Producto*" name="Marca" formControlName="Marca">
      <input type="text" id="Imagen" placeholder="Url*" name="Imagen" formControlName="Imagen">

      <textarea rows="3" id="Descripcion" placeholder="Descripcion del Producto*" name="Descripcion" formControlName="Descripcion"></textarea>

      <button type="submit" class="btn-send" (click)="agregar()">Enviar</button>            
    </form>
  </div>
</div>


