<section class="supportCenter">
    <h2 class="supportCenter__title"> POLITICAS DE PRIVACIDAD</h2>
    <h3 class="supportCenter__subtitle">1.- Identidad y Domicilio del Titular de Banco de Datos</h3>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam iure modi magni culpa voluptatem illo, dolorum consequuntur similique, quae aperiam nisi et aspernatur accusamus accusantium veniam aut fuga magnam.</p>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam iure modi magni culpa voluptatem illo, dolorum consequuntur similique, quae aperiam nisi et aspernatur accusamus accusantium veniam aut fuga magnam.</p>
    
    <h3 class="supportCenter__subtitle">2.- Alcance</h3>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam iure modi magni culpa voluptatem illo, dolorum consequuntur similique, quae aperiam nisi et aspernatur accusamus accusantium veniam aut fuga magnam.</p>

        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam iure modi magni culpa voluptatem illo, dolorum consequuntur similique, quae aperiam nisi et aspernatur accusamus accusantium veniam aut fuga magnam.</p>

    <h3 class="supportCenter__subtitle">3.- Finalidad</h3>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam iure modi magni culpa voluptatem illo, dolorum consequuntur similique, quae aperiam nisi et aspernatur accusamus accusantium veniam aut fuga magnam.</p>

        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam iure modi magni culpa voluptatem illo, dolorum consequuntur similique, quae aperiam nisi et aspernatur accusamus accusantium veniam aut fuga magnam.</p>

    <h3 class="supportCenter__subtitle">4.- Plazo de Conservación de los datos y medidas de seguridad</h3>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam iure modi magni culpa voluptatem illo, dolorum consequuntur similique, quae aperiam nisi et aspernatur accusamus accusantium veniam aut fuga magnam.</p>

        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam iure modi magni culpa voluptatem illo, dolorum consequuntur similique, quae aperiam nisi et aspernatur accusamus accusantium veniam aut fuga magnam.</p>
    
    <h3 class="supportCenter__subtitle">5.- Consentimiento</h3>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam iure modi magni culpa voluptatem illo, dolorum consequuntur similique, quae aperiam nisi et aspernatur accusamus accusantium veniam aut fuga magnam.</p>

        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam iure modi magni culpa voluptatem illo, dolorum consequuntur similique, quae aperiam nisi et aspernatur accusamus accusantium veniam aut fuga magnam.</p>
    
    <h3 class="supportCenter__subtitle">6.- De los Derechos de Información, acceso, rectificación de los datos</h3>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam iure modi magni culpa voluptatem illo, dolorum consequuntur similique, quae aperiam nisi et aspernatur accusamus accusantium veniam aut fuga magnam.</p>

        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam iure modi magni culpa voluptatem illo, dolorum consequuntur similique, quae aperiam nisi et aspernatur accusamus accusantium veniam aut fuga magnam.</p>
    
    <h3 class="supportCenter__subtitle">7.- Modificación</h3>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam iure modi magni culpa voluptatem illo, dolorum consequuntur similique, quae aperiam nisi et aspernatur accusamus accusantium veniam aut fuga magnam.</p>

        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam iure modi magni culpa voluptatem illo, dolorum consequuntur similique, quae aperiam nisi et aspernatur accusamus accusantium veniam aut fuga magnam.</p>
</section>
