<section class="supportCenter">
    <h2 class="supportCenter__title">Formas de Pago</h2>
    <div class="icon">
        <h3 class="supportCenter__subtitle">Tarjetas de crédito</h3>
        <p class="parrafo">Tarjetas aceptadas</p>
    </div>
    <div class="supportCenter__contenedor">
        <img src="../../../assets/TARJETAS/visa.jpg" alt="" class="img">
        <img src="../../../assets/TARJETAS/mastercard.jpg" alt="" class="img">
        <img src="../../../assets/TARJETAS/bcp.png" alt="" class="img">
    </div>
    <div class="icon">
        <h3 class="supportCenter__subtitle">Pago Efectivo</h3>
        <p class="parrafo">Entidades bancarias</p>
    </div>
    <div class="supportCenter__contenedor">
        <img src="../../../assets/TARJETAS/bbva.jpg" alt="" class="img">
        <img src="../../../assets/TARJETAS/bcp1.png" alt="" class="img">
        <img src="../../../assets/TARJETAS/nacion.png" alt="" class="img">
        <img src="../../../assets/TARJETAS/tambo.png" alt="" class="img">
        <img src="../../../assets/TARJETAS/skotiabank.png" alt="" class="img">
    </div>
</section>